{% extends 'baseDashboard.html' %}
<!--------------------------------------------------------------------------->
{% block head %}
<title>Grafica Historica</title>
{% endblock %}
<!--------------------------------------------------------------------------->
{% block breadcrumbs %}
<li><a href="{% url 'DistSocial:camaras' %}">Listas</a></li>
<li><span>Lista camaras</span></li>
{% endblock %}
<!--------------------------------------------------------------------------->
{% block body %}
<div class="main-content-inner">
    <!-- bar chart start -->
    <div class="row">
        <div class="col-xl-12 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id Camara</th>
                                <th>Nombre</th>
                                <th>Direccion IP</th>
                                <th>Lat</th>
                                <th>Lon</th>
                                <th>Localidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if lista_camaras %}
                            <tr>
                                {% for camara in lista_camaras %}
                                <td>{{ camara.id_CatCamara }}</td>
                                <td>{{ camara.nombre }}</td>
                                <td>{{ camara.ip }}</td>
                                <td>{{ camara.latitud }}</td>
                                <td>{{ camara.longitud }}</td>
                                <td>{{ camara.id_CatLocalidad }}</td>
                                {% endfor %}
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="6"> No polls are available.</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- bar chart end -->
</div>
{% endblock %}