{% extends 'baseDashboard.html' %}
<!--------------------------------------------------------------------------->
{% block head %}
<title>Grafica Historica</title>
{% endblock %}
<!--------------------------------------------------------------------------->
{% block breadcrumbs %}
<li><a href="{% url 'DistSocial:grafica1' %}">Historico</a></li>
<li><span>Grafica general</span></li>
{% endblock %}
<!--------------------------------------------------------------------------->
{% block body %}
<div class="main-content">

    <div class="main-content-inner">
        <!-- bar chart start -->
        <div class="row">
            <div class="col-lg-6 mt-5">
                <div class="card">
                    <div class="card-body">
                        <figure class="highcharts-figure">
                            <div id="container"></div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <!-- bar chart end -->
    </div>
</div>

{% endblock %}
<!--------------------------------------------------------------------------->
{% block scripts %}
<script>
    var data = JSON.parse('{{ dataRegistros | escapejs }}');
    AllData = [];
    data.forEach(element => {
        var val = element.fields.valor;
        var date = element.fields.creado;
        var fechaHora = date.split("T");
        var fecha = fechaHora[0];
        var hora = fechaHora[1];
        hora = hora.split(":");
        fecha = fecha.split("-");
        var dia = fecha[2];
        var mes = fecha[1];
        var anio = fecha[0];
        var min = hora[1];
        var seg = hora[2];
        hora = hora[0];

        AllData.push([
            Date.UTC(parseInt(anio), parseInt(mes - 1), parseInt(dia), parseInt(hora), parseInt(min), parseFloat(seg)),
            parseFloat(val)
        ]);
    });

    //console.log(data);
    Highcharts.chart('container', {
        chart: {
            zoomType: 'x',
            type: 'area'
        },
        title: {
            text: 'Promedio historico'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                hour: '%I %p',
                minute: '%I:%M %p',
                second: '%I:%M:%S %p'
            },
            title: {
                text: 'Tiempo'
            }
        },
        yAxis: {
            title: {
                text: 'Promedio'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            name: 'Concentración',
            data: AllData
        }]
    });
</script>
{% endblock %}