<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login - srtdash</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'DistSocialApp/assets/images/icon/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'DistSocialApp/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'DistSocialApp/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'DistSocialApp/assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'DistSocialApp/assets/css/metisMenu.css' %}">
    <link rel="stylesheet" href="{% static 'DistSocialApp/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'DistSocialApp/assets/css/slicknav.min.css' %}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css"
        media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{% static 'DistSocialApp/assets/css/typography.css' %}">
    <link rel="stylesheet" href="{% static 'DistSocialApp/assets/css/default-css.css' %}">
    <link rel="stylesheet" href="{% static 'DistSocialApp/assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'DistSocialApp/assets/css/responsive.css' %}">
    <!-- modernizr css -->
    <script src="{% static 'DistSocialApp/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area">
        <div class="container">
            <div class="login-box ptb--100">                
                <form>{% csrf_token %}
                    
                    <div class=" login-form-head">
                        <h4>Ingresa aquí</h4>
                    </div>
                    <div class="login-form-body">
                        <div class="form-group">
                            <label for="InputOrg">Organización</label>
                            <select class="form-control" id="InputOrg">
                            {% if lista_org %}
                                {% for org in lista_org %}
                                <option value="{{ org.id_CatOrganizacion }}">{{ org.nombre }}</option>
                                {% endfor %}
                            {% else %}
                                <option value="">No hay orgnizaciones</option>
                            {% endif %}
                            </select>
                        </div>
                        <div class="form-gp">
                            <input type="text" id="InputUser" placeholder="Usuario">
                            <i class="ti-user"></i>
                            <div class="text-danger"></div>
                        </div>
                        <div class="form-gp">
                            <input type="password" id="InputPass" placeholder="Password">
                            <i class="ti-lock"></i>
                            <div class="text-danger"></div>
                        </div>                        
                        <div class="submit-btn-area">
                            <button id="login_submit" type="submit">Entrar <i class="ti-arrow-right"></i></button>                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- login area end -->

    <!-- jquery latest version -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="{% static 'DistSocialApp/assets/js/vendor/jquery-2.2.4.min.js' %}"></script>
    <!-- bootstrap 4 js -->
    <script src="{% static 'DistSocialApp/assets/js/popper.min.j' %}s"></script>
    <script src="{% static 'DistSocialApp/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'DistSocialApp/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'DistSocialApp/js/metisMenu.min.js' %}"></script>
    <script src="{% static 'DistSocialApp/assets/js/jquery.slimscroll.min.' %}"></script>
    <script src="{% static 'DistSocialApp/assets/js/jquery.slicknav.min.js' %}"></script>

    <!-- others plugins -->
    <script src="{% static 'DistSocialApp/assets/js/plugins.js' %}"></script>
    <script src="{% static 'DistSocialApp/assets/js/scripts.js' %}"></script>
    <script src="{% static 'DistSocialApp/assets/js/login.js' %}"></script>
    <script>
        $("#login_submit").on('click', function () {
            var form = $(this).closest("form");
            orgId = $("#InputOrg").val();
            userName = $("#InputUser").val();
            userPass = $("#InputPass").val();
            var csrftoken = Cookies.get('csrftoken');
            $.ajax({
                url: '{% url "DistSocial:login" %}',
                method: 'POST',
                data: {
                    'idOrg': orgId,
                    'userName': userName,
                    'userPass': userPass,
                    'csrfmiddlewaretoken': csrftoken
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    if(data == true){                        
                        //user = data[1]
                        //alert(user)
                        location.href = '{% url "DistSocial:camaras" %}'
                    }
                }
            });
        })
    </script>
    </body>

</html>