{% extends 'baseDashboard.html' %}
<!--------------------------------------------------------------------------->
{% block head %}
<title>Lista Localidades</title>
{% endblock %}
<!--------------------------------------------------------------------------->
{% block breadcrumbs %}
<li><a href="{% url 'DistSocial:localidades' %}">Listas</a></li>
<li><span>Lista localidades</span></li>
{% endblock %}
<!--------------------------------------------------------------------------->
{% block body %}

<div class="main-content-inner">
    <!-- bar chart start -->
    <div class="row">
        <div class="col-xl-12 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id Localidad</th>
                                <th>Nombre</th>
                                <th>Lat</th>
                                <th>Lon</th>
                                <th>Organizacion</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if lista_localidades %}
                            {% for localidad in lista_localidades %}
                            <tr>
                                
                                <td>{{ localidad.id_CatLocalidad }}</td>
                                <td>{{ localidad.nombre }}</td>
                                <td>{{ localidad.latitud }}</td>
                                <td>{{ localidad.longitud }}</td>
                                <td>{{ localidad.id_CatOrganizacion }}</td>
                                <td><a class="btn btn-info" href="{% url 'DistSocial:ListCamaras' localidad.id_CatLocalidad %}">Mostrar camaras</a></td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="5"> No hay localidades registradas. </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- bar chart end -->

    {% endblock %}